table {
    background-color: #354261e0;
    border-radius: 1em;
    color: antiquewhite;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 80%;
}

img
{
  width: 20em;
}

th, td {
    padding: 15px;
}

a, a:hover, a:focus
{
  color: DodgerBlue;
  font-size: 2em;
  text-decoration: none;
}
